# .NET build output
ServisTakipApi/bin/
ServisTakipApi/obj/

# dependencies
ServisTakipMobil/node_modules/

# Expo
ServisTakipMobil/.expo/
ServisTakipMobil/dist/
ServisTakipMobil/web-build/
ServisTakipMobil/expo-env.d.ts

# Native
ServisTakipMobil/.kotlin/
ServisTakipMobil/*.orig.*
ServisTakipMobil/*.jks
ServisTakipMobil/*.p8
ServisTakipMobil/*.p12
ServisTakipMobil/*.key
ServisTakipMobil/*.mobileprovision

# Metro and debug
ServisTakipMobil/.metro-health-check*
ServisTakipMobil/npm-debug.*
ServisTakipMobil/yarn-debug.*
ServisTakipMobil/yarn-error.*

# Local files
.DS_Store
ServisTakipMobil/*.pem
ServisTakipMobil/.env*.local
ServisTakipMobil/*.tsbuildinfo
ServisTakipMobil/example

# Generated native folders and Prisma client
ServisTakipMobil/ios/
ServisTakipMobil/android/
ServisTakipMobil/src/generated/prisma/

# API secrets
ServisTakipApi/appsettings.Development.json
ServisTakipApi/appsettings.json